<%= form_for(@user, html: {multipart: true}) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>

  <div id="preview"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

