<div style="width: 100%; display:flex; justify-content:center">
  <%= simple_form_for @user, url: add_user_users_path, method: :post do |f| %>
    <div>
      <div class="field">
        <%= f.input :email%>
      </div>
      <div class="field">
        <%= f.input :password %>
      </div>
      <div class="field">
        <%= f.input :password_confirmation %>
      </div>

      <div id="preview"></div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>