<footer class="py-5">
  <div class="row footer">
    <div class="col-6 col-md-2 mb-4">
      <a href="#">
        <%= image_tag("logo2", size: "195x122")%>
      </a>
    </div>
    <div class="col-6 col-md-2 mb-4">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><%= link_to "Home", root_path, class:'nav-link p-0 text-muted'%></li>
        <li class="nav-item mb-2"><%= link_to "Collection", collections_site_index_path, class:'nav-link p-0 text-muted'%></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Products</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-4">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
      </ul>
    </div>

    <div class="col-md-3 offset-md-1 mb-3" style="margin: 0px;">
      <div>
        <p>Be the first to know about our biggest and the best sales. We'll never send more than one email a month.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2" style="border-bottom: 1px solid #222222; padding-bottom:10px">
          <%= simple_form_for :site, url: send_mail_site_index_path, method: :post do |f| %>
            <div style="display:flex">
              <%= f.input :email, label: false, input_html: {class: 'mail-form-control', placeholder:"Enter your Email"} %>
              <%= button_tag(type:'submit', style: "border: 0px; background-color: #FFFFFF; padding: 0px") do %>
                <%= image_tag("ic_mail_outline_24px.png", size: "28x22")%>
              <% end %>
          <% end %>
        </div>
        </div>
        <ul class="nav col-md-4 d-flex" style="margin: 10px; flex-wrap: nowrap; justify-content: space-around; padding-left: 25px">
            <li class="ms-3">
              <a class="text-muted" href="#">
                <%= image_tag("Twitter.png", size: "38x38")%>
              </a>
            </li>
            <li class="ms-3">
              <a class="text-muted" href="#">
                <%= image_tag("LinkedIn.png", size: "38x38")%>
              </a>
            </li>
            <li class="ms-3">
              <a class="text-muted" href="#">
                <%= image_tag("Facebook.png", size: "38x38")%>
              </a>
            </li>
            <li class="ms-3">
              <a class="text-muted" href="#">
                <%= image_tag("Insta.png", size: "38x38")%>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>

 <p class="text-center text-muted">All rights are reserved</p>
</footer>