<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:block">
    <div class="nav-header" style="border-bottom: 1px solid #D2D2D2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display:inline-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">Return</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register/Sign In</a>
          </li>
        </ul>
    </div>
    <div class="container-fluid nav">
      <div class="collapse navbar-collapse search" style="padding-left:40px">
        <button style="border: 0px; background-color: #FFFFFF">
          <%= image_tag("Search.png", size: "20")%>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarText" style="flex-basis: 80%; padding-left: 170px">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ASSENTIALS</a>
          </li>
          <li class="nav-item right">
            <button style="border: 0px; background-color: #FFFFFF">
              <%= image_tag("logo", size: "145x90")%>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">BEST SELLERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ABOUT US</a>
          </li>
        </ul>
      </div>
      <div style="margin-right:50px">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex;align-items: flex-end; flex-basis: 200px">
          <li class="nav-item right">
            <button style="border: 0px; background-color: #FFFFFF">
              <%= image_tag("profile_img", size: "19x22")%>
            </button>
          </li>
          <li class="nav-item right">
            <button style="border: 0px; background-color: #FFFFFF">
              <%= image_tag("like_img.png", size: "28x50")%>
            </button>
          </li>
          <li class="nav-item right">
            <button style="border: 0px; background-color: #FFFFFF">
              <%= image_tag("shopping_img.png", size: "19x22")%>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>