<body style="max-width:1860px">
	<%= render "header"%>

	<div class="collection">
		<div class="collection-header" style="width: 100%; height: 630px;">
				<%= image_tag("collection", :style => "width:100%; height:100%")%>
		</div>

		<div class="collection-body" style="margin-top: 60px">
			<div class="body" style="display:flex">
					<div class="collection-fillters" style="flex-basis:250px; max-width:250px; margin:0px 50px">
						<div class="fillter-drop">
							<div class="dropdown" style="display:flex">
								<button class="btn btn-primary description" type="button" data-bs-toggle="collapse" data-bs-target="#companyFillter" aria-expanded="false" aria-controls="collapseExample" style="width:100%; display:flex; justify-content:space-between;">
									<span style="">COMPANY</span>
									<div style="margin-left:30px">
										<%= image_tag("arrow_img.png", :style => "transform: rotate(-90deg)")%>
									</div>
								</button>
							</div>
							<div class="collapse" id="companyFillter">
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'company', :sort => 'ASC'})) do %>
									<div class="card card-body">
										A > Z
									</div>
								<% end %>
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'company', :sort => 'DESC'})) do %>
									<div class="card card-body">
										Z > A
									</div>
								<% end %>
							</div>
						</div>
						<div class="fillter-drop">
							<div class="dropdown" style="display:flex">
								<button class="btn btn-primary description" type="button" data-bs-toggle="collapse" data-bs-target="#priceFillter" aria-expanded="false" aria-controls="collapseExample" style="width:100%; display:flex; justify-content:space-between;">
									<span style="">PRICE</span>
									<div style="margin-left:30px">
										<%= image_tag("arrow_img.png", :style => "transform: rotate(-90deg)")%>
									</div>
								</button>
							</div>
							<div class="collapse" id="priceFillter">
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'price', :sort => 'ASC'})) do %>
									<div class="card card-body">
										UP > DOWN
									</div>
								<% end %>
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'price', :sort => 'DESC'})) do %>
									<div class="card card-body">
										DOWN > UP
									</div>
								<% end %>
							</div>
						</div>
						<div class="fillter-drop">
							<div class="dropdown" style="display:flex">
								<button class="btn btn-primary description" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesFillter" aria-expanded="false" aria-controls="collapseExample" style="width:100%; display:flex; justify-content:space-between;">
									<span style="">CATEGORIES</span>
									<div style="margin-left:30px">
										<%= image_tag("arrow_img.png", :style => "transform: rotate(-90deg)")%>
									</div>
								</button>
							</div>
							<div class="collapse" id="categoriesFillter">
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'categories', :sort => 'ASC'})) do %>
									<div class="card card-body">
										A > Z
									</div>
								<% end %>
								<%= link_to collections_site_index_path(request.parameters.merge(:filtered => {:fillter => 'categories', :sort => 'DESC'})) do %>
									<div class="card card-body">
										Z > A
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<div class="collection-and-products" style="flex-grow:1;">
						<div class="collection" style="display:inline">
							<ul style="padding:0px;display:flex; justify-content: space-between;">
								<li class="nav-item" style="display:inline">
									<%= link_to collections_site_index_path(request.parameters.merge(:categories => 'Everyday Essentials')) do %>
										<button class="collection-btn">
											Everyday Essentials
										</button>
									<% end %>
								</li>
								<li class="nav-item" style="display:inline">
									<%= link_to collections_site_index_path(request.parameters.merge(:categories => 'Cleaning Essentials')) do %>
										<button class="collection-btn">
											Cleaning Essentials
										</button>
									<% end %>
								</li>
								<li class="nav-item" style="display:inline">
									<%= link_to collections_site_index_path(request.parameters.merge(:categories => 'Immunity & Health')) do %>
										<button class="collection-btn">
											Immunity & Health
										</button>
									<% end %>
								</li>
								<li class="nav-item" style="display:inline">
									<%= link_to collections_site_index_path(request.parameters.merge(:categories => 'Vitamin Supplements')) do %>
										<button class="collection-btn">
											Vitamin Supplements
										</button>
										<% end %>
								</li>
							</ul>
						</div>
						<div class="collection-products">
						<div class="collection-products-header" style="display:flex; justify-content: space-between; margin:0px 60px">
							<div class="product-count">
								<%= @size %> Products
							</div>
							<div class="collection-products-fillter" style="margin-right:25px">
								<div class="details-drop" style="width:240px; height:50px;">
									<div class="dropdown" style="display:flex">
										<button class="btn btn-primary description" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReturnPolicy" aria-expanded="false" aria-controls="collapseExample" style="display:flex; justify-content: space-between;">
											<span style="padding:0px">Sort</span>
											<div>
												<%= image_tag("arrow_img.png", :style => "transform: rotate(-90deg)")%>
											</div>
										</button>
									</div>
									<div class="collapse" id="collapseReturnPolicy" style="border: 0.5px solid #231F20;">
										<% if params %>
											<%= link_to collections_site_index_path(request.parameters.merge(:sort => 'name')) do %>
												<div class="card card-body">
													NAME
												</div>
											<% end %>
										<% end %>
										<%= link_to collections_site_index_path(request.parameters.merge(:filtered => 'price')) do %>
											<div class="card card-body">
												PRICE
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div class="collection-products-body">
							<div class="collection-products-details" style="max-width:100%; display:flex; justify-content: flex-start; flex-wrap:wrap; margin-top:100px">
								<% @products.each do |product| %>
										<%= link_to site_path(product), :style => "text-decoration:none; color:#1E1E20"  do %>
											<div class="card collection-product-card">
												<div class="promo-img-wrapper">
													<%= image_tag(product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
												</div>
												<div class="card-body">
													<h5 class="card-title"><%= product.name %></h5>
													<% if product.discount_percentage > 0 %>
														<span style="text-decoration-line: line-through; margin: 10px">₹ <%= product.price %></span>
														<span>₹ <%= product.price*(100-product.discount_percentage)/100 %></span>
													<% else %>                                                    
														<span>₹ <%= product.price %></span>
													<% end %>
												</div>
											</div>
										<% end %>
									<% end %>
							</div>
							<div class="pagination" style="display:flex; justify-content: center">
								<%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render "footer"%>
</body>