<body style="max-width: 1860px;">
    <%= render "header" %>

    <div class="body-header">
        <div class="content">
            <div class="header-content">
                <p>
                    PROVIDING SERVICES AT YOUR DOOR
                </p>
            </div>
            <div class="body-content">
                <span style="color: #707070; font-weight: bold;">MACC Essentials</span>
                <span >
                    has an important role in making 
                    supplies and services available to customers and their 
                    patients during this critical time. This includes services 
                    from various domains. Our aim is to aid you. As much we can.
                </span>
            </div>

            <button class="content-button"> LEARN MORE</button>
        </div>
        <%= image_tag("cover_img.png", size: "500", :class => "img-preview") %>
    </div>
    <%= render "carousel_new" %>

    <%= render "carousel_discount" %>

     <%= render "carousel_selling" %>

    <div class="gg-review">
        <div class="gg-rv-header">
            <span style="color: #E2342D">COVID-19 </span>
            <span style="color: #231F20">GUIDELINES</span>
        </div>
        <div class="gg-rv-content">
            <div style="width: 650px">
                <p style="box-sizing: inherit">
                    Please remember to adhere all covid-19 guidelines. Precaution is key to survive this pendemic. Stay at home and Stay safe
                </p>
            </div>
        </div>
    </div>

    <%= render "footer" %>
</body>