<%= render "header" %>

<div class="body-header">
    <div class="content">
        <div class="header-content">
            <p>
                PROVIDING SERVICES AT YOUR DOOR
            </p>
        </div>
        <div class="body-content">
            <span style="color: #707070; font-weight: bold;">MACC Essentials</span>
            <span >
                has an important role in making 
                supplies and services available to customers and their 
                patients during this critical time. This includes services 
                from various domains. Our aim is to aid you. As much we can.
            </span>
        </div>

        <button class="content-button"> LEARN MORE</button>
    </div>
    <%= image_tag("cover_img.png", size: "500", :class => "img-preview") %>
</div>
<div class="new-product">
    <div class="carousel-header">
        <span style="color: #E2342D">NEW </span>
        <span style="color: #004197">PRODUCTS</span>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="display:flex">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev", style="margin: 0">
            <%= image_tag("Move_prev.png", :class => "carousel-btn-prev")%>
        </button>
        <div class="carousel-inner">
            <div class="carousel-item active new-product-carousel">
                <div class="card" >
                    <div class="img-wrapper">
                        <%= image_tag(@new_product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= @new_product.name %></h5>
                    </div>
                </div>
            </div>
            <% @new_products.each do |product| %>
                <div class="carousel-item new-product-carousel">
                    <div class="card">
                        <div class="img-wrapper">
                            <%= image_tag(product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <%= image_tag("Move_next.png", :class => "carousel-btn-next")%>
        </button>
    </div>
</div>
<div class="weekly-discount promo">
    <div class="feature">
        <%= image_tag("Feature_img1.png", size: "569x672")%>
    </div>
    <div style="width: 100%">
        <div class="promo-carousel-header" style="display: flex; justify-content: space-between; margin-bottom:50px">
            <div class="promo-content">
                <span style="color: #E2342D; margin-left:170px">MACC </span>
                <span style="color: #231F20">WEEKLY DISCOUNT</span>
            </div>
            <button class="promo-btn" style="margin-right:50px; border:0">VIEW ALL</button>
        </div>
    
        <div class="promo-carousel-content" style="display:flex; justify-content: center;">
            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel" style="display:flex">
                <div class="carousel-inner">
                    <div class="carousel-item promo-carousel active">
                        <div class="card promo-card" >
                            <div class="promo-img-wrapper">
                                <%= image_tag(@discount_product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= @discount_product.name %></h5>
                                <span style="text-decoration-line: line-through; margin: 10px">₹ <%= @discount_product.price %> </span>
                                <span>₹ <%= @discount_product.price*(100-@discount_product.discount_percentage)/100 %></span>
                            </div>
                        </div>
                    </div>
                    <% @discount_products.each do |product| %>
                        <div class="carousel-item promo-carousel">
                            <div class="card promo-card">
                                <div class="promo-img-wrapper">
                                    <%= image_tag(product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.name %></h5>
                                    <span style="text-decoration-line: line-through; margin: 10px">₹ <%= product.price %> </span>
                                    <span>₹ <%= product.price*(100-product.discount_percentage)/100 %></span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>  
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                <%= image_tag("Move_next.png", :class => "carousel-btn-next")%>
            </button>
        </div>
    </div>
</div>
<div class="top-selling promo">
    <div style="order:1">
        <%= image_tag("Feature_img2.png", size: "569x672")%>
    </div>
    <div class="promo-carousel" style="width: 100%">
        <div class="promo-carousel-header" style="display: flex; justify-content: space-between; margin-bottom:50px">
            <div class="promo-content">
                <span style="color: #E2342D; margin-left:170px">MACC </span>
                <span style="color: #231F20">TOP SELLINGS</span>
            </div>
            <button class="promo-btn" style="margin-right:50px; border:0">VIEW ALL</button>
        </div>
        <div class="promo-carousel-content" style="display:flex">
            <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel" style="display:flex">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev", style="margin: 0">
                    <%= image_tag("Move_prev.png", :class => "carousel-btn-prev")%>
                </button>
                <div class="carousel-inner">
                    <div class="carousel-item promo-carousel active">
                        <div class="card promo-card" >
                            <div class="promo-img-wrapper">
                                <%= image_tag(@top_selling_product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= @top_selling_product.name %></h5>
                                <span>₹ <%= @top_selling_product.price %> </span>
                            </div>
                        </div>
                    </div>
                    <% @top_selling_products.each do |product| %>
                        <div class="carousel-item promo-carousel">
                            <div class="card promo-card">
                                <div class="promo-img-wrapper">
                                    <%= image_tag(product.product_photos.first.photo.url.to_s, :class => "img-carousel")%>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><%= product.name %></h5>
                                    <span>₹ <%= product.price %> </span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gg-review">
    <div class="gg-rv-header">
        <span style="color: #E2342D">COVID-19 </span>
        <span style="color: #231F20">GUIDELINES</span>
    </div>
    <div class="gg-rv-content">
        <div style="width: 650px">
            <p style="box-sizing: inherit">
                Please remember to adhere all covid-19 guidelines. Precaution is key to survive this pendemic. Stay at home and Stay safe
            </p>
        </div>
    </div>
</div>

<%= render "footer" %>