<%= turbo_frame_tag cart_detail do %>
  <tr>
    <td><%= cart_detail.product.name %></td>
    <td><%= cart_detail.product_quantity %></td>
    <td><%= cart_detail.product.price %></td>
    <td><%= cart_detail.product.discount_percentage %>%</td>
    <td><%= cart_detail.product.price * cart_detail.product_quantity * (100-cart_detail.product.discount_percentage) / 100%></td>
    <td><%= image_tag(cart_detail.product.product_photos.first.photo.url.to_s, size:"40") %></td>
    <td style="display:flex">
      <%= button_to [cart_detail], method: :delete, style: "display:inline-block; margin-left:4px; border:none; background-color:white" do %>
        <svg style="display:inline-block; width:40px; height:40px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
      <% end %>
    </td>
  </tr>
<% end %>