<div style="display:flex; width: 100%">
  <%= simple_form_for @product, html: {multipart: true, style: 'width: 100%'} do |f| %>
    <div style="display:flex; justify-content: space-around; width:100%">
      <div>
        <div class="field">
          <%= f.input :name %>
        </div>
        <div class="field">
          <%= f.input :price %>
        </div>
        <div class="field">
          <%= f.input :discount_percentage %>
        </div>
        <div class="field">
          <%= f.input :company %>
        </div>
        <div class="field">
          <%#= f.label :categories %>
          <%#= f.text_field :categories %>
          <%= f.input :categories,
                      as: :check_boxes, 
                      include_hidden: false,
                      collection: [['Everyday Essentials', 'Everyday Essentials'],
                                  ['Cleaning Essentials', 'Cleaning Essentials'],
                                  ['Immunity & Health', 'Immunity & Health'],
                                  ['Vitamin Supplements', 'Vitamin Supplements']] %>
        </div>
      </div>
      <div>  
        <div class="field">
          <%= f.input :product_types %>
        </div>
        <div class="field">
          <%= f.input :description %>
        </div>
        <div class="field">
          <%= f.input :return_policy %>
        </div>
        <div class="field">
          <%= f.input :citizen_policy %>
        </div>

        <%= f.fields_for :product_photos do |p| %>
          <div class="field">
            <%= p.file_field :photo, multiple: true, name: "product_photos[photo][]", class: "upload-image" %>
          </div>
        <% end %>
        <div id="preview"></div>
      </div>
    </div>
    <div class="actions" style="display:block">
      <%= f.submit %>
    </div>
  <% end %>
</div>