<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>price:</strong>
    <%= product.price %>
  </p>
  <p>
    <strong>discount_percentage:</strong>
    <%= product.discount_percentage %>
  </p>
  <p>
    <strong>company:</strong>
    <%= product.company %>
  </p>
  <p>
    <strong>categories:</strong>
    <%= product.categories %>
  </p>
  <p>
    <strong>product_types:</strong>
    <%= product.product_types %>
  </p>
  <p>
    <strong>description:</strong>
    <%= product.description %>
  </p>
  <p>
    <strong>return_policy:</strong>
    <%= product.return_policy %>
  </p>
   <p>
    <strong>citizen_policy:</strong>
    <%= product.citizen_policy %>
  </p>
</div>
