<body>
  <div style="display:flex; width:100%">
    <div style="flex-basis:250px; bckground-color:red; color: white; border-right: 1px solid #ced4da; margin-right:1px">
      <%= render "site/sidebarMenu"%>
    </div>
    <div style="flex-grow: 1">
      <%= render "site/admin_header"%>
      <div>
        <p style="color: green"><%= notice %></p>

        <div style="display:flex; justify-content:space-between; width:100%">
          <h1>Products</h1>
          <%= button_to "Create", new_product_path, method: :get, class:"btn btn-secondary btn-lg"%>
        </div>
        <%= turbo_frame_tag "search-results" do %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Company</th>
                <th scope="col">Quantity Sold</th>
                <th scope="col">Pic</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="products" data-controller="products" data-action="">
                <%# @products.each do |product| %>
                  <%= render @products %>
                <%# end %>
            </tbody>
          </table>
          <div class="pagination" style="display:flex; justify-content: center">
            <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>