<body>
  <div>
    <%= render "site/admin_header"%>

    <div>
      <p style="color: green"><%= notice %></p>

      <div style="display:flex; justify-content:space-between; width:100%">
        <div>
          <h1>Products</h1>
          <%= link_to "New product", new_product_path %>
        </div>
        <div>
          <%= form_tag products_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance",
          controller: "search", action: "input->search#submit"} do |f| %>
            <%= text_field_tag "query", nil, placeholder: "Search...", class: "input input-border", style: "width:250px; height:37px"%>
            <%= submit_tag "Search", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "search-results" do %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#Id</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Company</th>
              <th scope="col">Pic</th>
            </tr>
          </thead>
          <tbody id="products" data-controller="products" data-action="">
              <%# @products.each do |product| %>
                <%= render @products %>
              <%# end %>
          </tbody>
        </table>
        <div class="pagination" style="display:flex; justify-content: center">
          <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
        </div>
      <% end %>
    </div>
  </div>
</body>