<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<% @product_photos.each do |p| %>
  <%= image_tag(p.photo.url.to_s, alt: "Image") %>
  <%= link_to "Destroy", product_photo_path(p), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

